{% set errors = errors ? errors : [] %}
<div class="container wrapper">
    <form class="well" action="{{ro.gen(NULL)}}" method="post" style="margin-top: 20%;">
        <fieldset>
            <legend>{{tm._('Sign in using your company account','auth.ui')}}:</legend>
            {% if errors.auth is defined %}
                <span style="display: inline-block; margin-bottom: 2em;" class="label label-important">{{ errors.auth }}</span>
            {% endif %}
            <div class="control-group input-prepend {{ error.username is defined ? 'error' : ''}}">
                <label for="user_input" class="control-label add-on icon-user">&#8203;</label>
                <input type="text" id="user_input" name="username" placeholder="{{ tm._('Username','auth.ui') }}" />
            {% if errors.username is defined %}
                <span class="help-inline">{{ errors.username }}</span>
            {% endif %}
            </div>
            <div class="control-group input-prepend {{ errors.password is defined ? 'error' : '' }}">
                <label for="password_input" class="add-on icon-lock">&#8203;</label>
                <input id="password_input" type="password" name="password" placeholder="{{ tm._('Password','auth.ui') }}" />
            {% if errors.password is defined %}
                <span class="help-inline">{{ errors.password }}</span>
            {% endif %}
            </div>
            <button style="display: block;" type="submit" class="icon-signin btn btn-primary"> {{tm._('Signin','auth.ui') }}</button>
        </fieldset>
    </form>
</div>
