{% from "breadcrumbs.twig" import breadcrumbs as breadcrumb_navigation %}
<!-- ###############################################################################################
    Midas Header:
        Presents common information for the current session
        and holds the list's search box.
     ############################################################################################### -->
<header class="navbar navbar-inverse navbar-fixed-top" data-scrollspy="scrollspy">
    <div class="navbar-inner">
        <div class="container-fluid upper-bar" style="width: auto;">
            <a class="brand" href="{{ro.gen('index')}}" title="Honeybee 3.0 - Erato">
                <span class="icon-wrench"> Honeybee</span>
            </a>

            {% if us.isAuthenticated %}
                <ul class="nav" role="navigation">
                {% for moduleName, module in modules %}
                    <li class="dropdown">
                        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            {{tm._(moduleName, 'modules.labels')}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li>
                                <a tabindex="-1" href="{{module.create_link}}">
                                <span class="icon-edit"></span> Neuer Eintrag</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="{{module.list_link}}"><span class="icon-list"></span> Übersicht</a>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
                </ul>
                <ul class="nav pull-right user-stats">
                    <li id="fat-menu" class="dropdown">
                        <p>Du bist angemeldet als:</p>
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            {{us.getAttribute('login')}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li>
                                <a href="{{ro.gen('auth.logout')}}" title="Sitzung beenden">
                                    <span class="icon-signout"></span> abmelden
                                </a>
                            </li>
                        </ul>
                        {% if avatar_url %}
                            <img class="avatar-image img-rounded" src="{{avatar_url}}" /> 
                        {% endif %}
                    </li>
                </ul>

            {%endif%}
        </div>
        {% if breadcrumbs %}
            {{breadcrumb_navigation(breadcrumbs)}}
        {% endif %}
    </div>
</header>
