<?xml version="1.0" encoding="utf-8" ?>
    {% set locale = tm.getCurrentLocale() %}
    {% set dir = locale.getCharacterOrientation() == 'right-to-left' ? 'rtl' : 'ltr' %}
    {% set is_error_page = TRUE == rq.getAttribute('is_error_page') %}
<!DOCTYPE HTML>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xml:lang="{{ locale.getLocaleLanguage() }}" 
    lang="{{ locale.getLocaleLanguage() }}" 
    dir="{{ dir }}" {{ rq.getAttribute('is_error_page') ? 'class="error-page"' : '' }}>
    <head>
        <title>{{ _title }}</title>
        <base href="{{ ro.getBaseHref() }}" id="base_href"/>
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

        <link rel="stylesheet" href="static/style.css" type="text/css" />

        {% if ac("minify.js", false) %}
            <script data-main="static/js/main-built" src="/static/require.js"></script>
        {% else %}
            <script data-main="static/js/main" src="/static/require.js"></script>
        {% endif %}
    </head>
    <body>
        {{ inner|raw }}

    </body>
</html>

